// Copyright 2013 Mykola Dvornik (mykola.dvornik@gmail.com).  All rights reserved.
// Use of this source code is governed by a freeBSD
// license that can be found in the LICENSE.txt file.

package runtime

import "C"

//#cgo LDFLAGS: -L{{.Lib}} -lcuda -lcudart
//#cgo CFLAGS: -I{{.Include}} -Wno-error
import "C"